* {
    margin: 0;
    padding: 0;
}

//*header

header {
    background-color: black;
    color: whitesmoke;
    display: flex;
    align-items: center;
    h2 {
        width: 60%;
    }
    img {
        width: 30%;
    }
}
//Main, tragos
main {
    background-color: violet;
}
h1{
    display: none;
}

h3 {
    text-align: center;
}
p {
    text-align: center;
    font-size: 1.2em;
}

section {
    article{
      background-color: whitesmoke;
      margin: 1%;
      padding: 1%;
      display: block; 

      
      
      .descripcion {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 20px;
          ul, li {
              font-size: 1.2em;
              text-align: center;
              list-style: none;
              text-decoration: underline black;
          }
          p {
              font-size: 1.4em;
          }
          img {
              width: 500px;
              border-radius: 20px;
              box-shadow: rgba(0, 0, 0, 0.418) 10px 10px;
           }
        }
    }
}

//media queries 
@media (max-width:360px) {
    body{
        font-size: 1.2em;
        .descripcion{
            .photo{
                width: 150px;
            }
        }
    }
}